* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-family: "Satoshi Variable";
}

.heading {
  margin-bottom: 24px;
}

.btn {
  margin: 24px 0px;
  border: none;
  border-radius: 13px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: green;
  color: white;
}
