@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Mona-Sans";
  background-color: #71717a;
}

a {
  text-decoration-line: none;
  color: inherit;
}

button {
  font-family: inherit;
  padding: 8px;
}

.products-container {
  max-width: 1200px;
  margin-top: 24px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 26px;
  margin-inline: auto;
  display: grid;
  padding-bottom: 20px;
}

.product {
  background-color: #fff;
  border-radius: 24px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  overflow: hidden;
  padding: 16px;
}

.title-container {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 12px;
}

.product h3 {
  margin: 0; /* Remove default margin to avoid extra space */
  line-height: 1.3; /* Adjust line height as needed */
  max-height: 2.4em; /* (line-height * number of lines) to limit to two lines */
  text-overflow: ellipsis;
  white-space: normal; /* Allow text to wrap */
  font-size: 1.05rem;
}

.product-image {
  height: 160px;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.price-rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta-container button {
  width: 46.5%;
  cursor: pointer;
}

.product a:hover {
  text-decoration-line: underline;
}

header {
  height: 70px;
  position: sticky;
  top: 0;
}

.header-contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  max-width: 1200px;
  margin-inline: auto;
}

.searchbar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

form input {
  padding: 8px;
  font: inherit;
  max-width: 400px;
  width: 100%;
  flex-grow: 1;
}

form button {
  cursor: pointer;
  font: inherit;
  margin-left: 8px;
}

.price {
  font-size: 24px;
  margin: 0;
}

.cart-container {
  max-width: 1200px;
  margin-inline: auto;
}

.cart-container h2 {
  text-align: center;
  margin: 32px 0;
}

.cart-header {
  padding: 5px 0px;
}

.cart-item-container {
  padding-bottom: 7px;
  display: grid;
  gap: 7px;
  grid-template-columns: 4fr 1fr 1fr 1fr 0.2fr;
}

.cart-item-container > div:not(.cart-item) {
  justify-content: center;
}

.cart-item-container > div:last-child {
  justify-content: flex-end;
}

.cart-item-container img {
  width: 100px;
}

.cart-item-container > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.cart-icon {
  position: relative;
}

.cart-items-count {
  position: absolute;
  left: 46%;
  transform: translate(-40%, -90%);
}
